#aboutus {
    max-width: 40%;
    color: rgb(139, 0, 23);
}

#banner {
    width: 40%;
    height: 40vh;
    background-size: cover;
}

a {
    text-decoration: none;
}
#risingstar{
    max-width: 100%;
    color: black;
    font-weight: normal;
    margin-bottom: 4%;
}
#team{
    float: right;
    max-width: 40%;
    width: 30%;
    margin: 6%;
}
h4{
    text-align: center;
    margin-top: 20% ;
}